<h1 class= "text-center"><strong>L'appartement de vos rêves</strong></h1>


  <div class="card-trip">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg"/>
      <div class="card-trip-infos">
        <div>
          <h2><%= @flat.name %></h2>
          <p><%= @flat.description %></p>
          <p><%= @flat.address %></p>
          <p><strong><%= @flat.number_of_guests %> guests</strong></p>
        </div>
        <h2 class="card-trip-pricing"><%= @flat.price_per_night %>€</h2>
      </div>
  </div>

  <%= link_to "Update", edit_flat_path(@flat) %>

  <%= link_to "Delete", flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
